/* $darkGreen: #245417;
$lightGreen: #27D515;
$white: #eddcd4;
$black: #1E0D0C;
$orange: #FF4B2B;
$secondOrange: #FF416C;
$burningOrangeGradient:  */

h1,
h2,
h3 {
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

h1 {
    font-size: 5em;
    text-shadow: 4px 4px #1E0D0C;
}

h2 {
    font-size: 3em;
}


p,
li,
button {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

h3 {
    font-size: 1.5em;
}

p {
    line-height: 1.2em;
}

li {
    line-height: 1.2em;
}

b {
    font-style: oblique;
}

body {
    background-color: #245417;
}

.logo {
    width: 20vw;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient(90deg, #FF4B2B 0%, #FF416C 100%);
    color: #EDEDD4;

    font-size: 1.2em;
}

.divider {

    color: #1E0D0C;
    background-color: #1E0D0C;

}

header {

    background-color: #245417;

    display: grid;
    justify-content: start;

    div {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    span {
        padding-top: 10%;
        color: #27D515;
    }

}

main {
    background-color: #EDEDD4;
    color: #1E0D0C;
    padding: 5%;

    a,
    span {
        background-image: linear-gradient(90deg, #FF4B2B 0%, #FF416C 100%);
        text-decoration: none;
        color: #1E0D0C;
    }


    /* ul {
        padding: 10px;
        list-style-type: none;
        list-style-position: inside;

        li {
            padding-bottom: 1%;

            .small {
                display: block;
                font-size: 0.9em;
                opacity: 80%;
                padding-left: 25px;
            }
        }
    } */


    .MainTitle{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 20px;

        a{
            opacity: 80%;
        }
        a:hover{
            opacity: 100%;
        }
    }


    .contentContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            height: 350px;
            margin: 10px;
            overflow: hidden;
            border-radius: 3px;
            position: relative;
            /* transition: 0.5s; */
        }

        .card:hover{
            cursor: pointer;
            box-shadow: 2px 10px 20px #1E0D0C;
            transition: 0.5s;

            .textContainer{
                height: auto;
            }

            p{
                visibility:visible;
                opacity: 100;
            }

            .projectImg{
                /* should make the size of the image match its resolution */
            }
        }

        .projectImg {
            height: 350px;
            width: 300px;
            border-radius: 3px;
            object-fit: cover;
        }

        .textContainer {
            width: 300px;
            height: 55px;
            padding: 15px;
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            background: #1e0d0ca4;
            color: #EDEDD4;
            transition: 0.5s;
            h3 {
                padding-bottom: 15px;
            }

            p{
                visibility: collapse;
                opacity: 0;
                transition: 0.5s;
            }

            span{
                padding-left: 4px;
                padding-right: 4px;
            }

            a{
                opacity: 60%;
            }
            a:hover{
                opacity: 100%;
            }
        }
    }
}

footer {
    text-align: center;
    color: #27D515;

    .email {
        /* padding-top: 1%; */
        padding-bottom: 10px;
        opacity: 80%;
    }

    .socialLinks {
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 40px;
            height: 40px;
            padding: 10px;
        }
    }

}